/.DS_Store
/AluminiumBlock.java
/ArrayExaminer.java
/ArrayMarcher.java
/Convert.java
/Evaluate.java
/Graph.java
/Lala.java
/Main.java
/Main1.java
/Main2.java
/Main3.java
/Main4.java
/Main5.java
/Main6.java
/Merge.java
/MyArrays.java
/Partition.java
/PropositionalLogicEvaluation.java
/Random.java
/Silly.java
/SillyTest.java
/TruthAssignment.java
/TwoDimension.java
/gameOfLife.java
/mergeSortRandom.java
/sortRandom.java